
/**
 * Garland, for Drupal 6.x
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net`
 *
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 */

/**
 * Generic elements
 */
body {
	padding:0px;
	margin:0px;
	background:#fff;
	color:#666;
	font:14px Georgia, "Times New Roman", Times, serif;
}
tr.odd td, tr.even td {
	padding: 0.3em;
}
div, p, img {
	padding:0px;
	margin:0px;
}
h1 {
	font-size: 220%;
}
h2 {
	font-size: 170%;
}
h3 {
	font-size: 150%;
}
h4 {
	font-size: 130%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 110%;
}
p {
	margin-top: 0.5em;
	margin-bottom: 0.9em;
}
a {
	color:#fff;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:link {
	color: #39c;
}
a:visited {
	color: #369;
}
fieldset {
	border: 1px solid #ccc;
}
pre {
	background-color: #eee;
	padding: 0.75em 1.5em;
	font-size: 12px;
	border: 1px solid #ddd;
}
table {
	/* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
	font-size: 1em;
	color: #222;
}
.item-list .title {
	font-size: 1em;
	color: #222;
}
.links {
	margin-bottom: 0;
}
.comment .links {
	margin-bottom: 0;
}
/*
** Page layout blocks / IDs
*/
#header, #content {
	width: 100%;
}
#header {
	background-color: #69c;
}
#logo {
	vertical-align: middle;
	border: 0;
}
#logo img {
	float: left; /* LTR */
	padding: 0 1em;
	border: 0;
}
#menu {
	padding: 0.5em 0.5em 0 0.5em; /* LTR */
	text-align: right; /* LTR */
	vertical-align: middle;
}
#navlist {
	font-size: 1.0em;
	padding: 0 0.8em 1.2em 0; /* LTR */
	color: #9cf;
}
#navlist a {
	font-weight: bold;
	color: #fff;
}
ul#navlist {
	margin:0px;
	padding:0px;
}
#subnavlist {
	padding: 0.5em 1.2em 0.4em 0; /* LTR */
	font-size: 0.8em;
	color: #9cf;
}
#subnavlist a {
	font-weight: bold;
	color: #9cf;
}
ul.links li {
}
ul.links li.first {
	border: none;
}
#search .form-text, #search .form-submit {
	border: 1px solid #369;
	font-size: 1.1em;
	height: 1.5em;
	vertical-align: middle;
}
#search .form-text {
	width: 8em;
	padding: 0 0.5em;
}
#mission {
	background-color: #369;
	padding: 1.5em 2em;
	color: #fff;
}
#mission a, #mission a:visited {
	color: #9cf;
	font-weight: bold;
}
.site-name {
	margin: 0.6em 0 0;
	padding: 0;
	font-size: 2em;
}
.site-name a:link, .site-name a:visited {
	color: #fff;
}
.site-name a:hover {
	color: #369;
	text-decoration: none;
}
.site-slogan {
	font-size: 1em;
	color: #eee;
	display: block;
	margin: 0;
	font-style: italic;
	font-weight: bold;
}
#main {
	/* padding in px not ex because IE messes up 100% width tables otherwise */
	padding:0 24px;
}
#mission, .node .content, .comment .content {
	line-height: 1.4em;
}
#help {
	font-size: 0.9em;
	margin-bottom: 1em;
}
.breadcrumb {
	margin-bottom: .5em;
}
.messages {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 0.3em;
	margin-bottom: 1em;
}
.error {
	border-color: red;
}
#sidebar-left, #sidebar-right {
	background-color: #ddd;
	width: 16em;
	/* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
	vertical-align: top;
}
#footer {
	background-color: #eee;
	padding: 1em;
	font-size: 0.8em;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/

#main h1.title {
	background:url(images/page-title.jpg) no-repeat top left;
	padding-left:80px;
	padding-top:10px;
	color:#046cb8;
	font-size:45px;
	font-family:Arial;
	margin:5px 0px;
}
.title, .title a {
	color:#046cb8;
	font-weight:normal;
}
.submitted {
	color: #999;
	font-size: 0.8em;
}
.links {
	color: #999;
}
.links a {
	font-weight: bold;
}
.block, .box {
	padding: 0 0 1.5em 0; /* LTR */
}
.block {
	padding-bottom: 0.75em;
	margin-bottom: 1.5em;
}
.block .title {
	margin-bottom: .25em;
}
.box .title {
	font-size: 1.1em;
}
.node {
	margin: .5em 0 2em; /* LTR */
}
.sticky {
	padding: .5em;
	background-color: #eee;
	border: solid 1px #ddd;
}
.node .content, .comment .content {
	margin: .5em 0 .5em;
}
.node .taxonomy {
	color: #999;
	font-size: 0.8em;
	padding-left: 1.5em; /* LTR */
}
.node .picture {
	border: 1px solid #ddd;
	float: right; /* LTR */
	margin: 0.5em;
}
.comment {
	border: 1px solid #abc;
	padding: .5em;
	margin-bottom: 1em;
}
.comment .title a {
	font-size: 1.1em;
	font-weight: normal;
}
.comment .new {
	text-align: right; /* LTR */
	font-weight: bold;
	font-size: 0.8em;
	float: right; /* LTR */
	color: red;
}
.comment .picture {
	border: 1px solid #abc;
	float: right; /* LTR */
	margin: 0.5em;
}
/*
** Module specific styles
*/
#aggregator .feed-source {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1em;
	margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
	color: #999;
	font-style: italic;
	font-size: 0.9em;
}
#aggregator .title {
	margin-bottom: 0.5em;
	font-size: 1em;
}
#aggregator h3 {
	margin-top: 1em;
}
#forum table {
	width: 100%;
}
#forum td {
	padding: 0.5em;
}
#forum td.forum, #forum td.posts {
	background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
	background-color: #ddd;
}
#forum td.container {
	background-color: #ccc;
}
#forum td.container a {
	color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
	height: 1.5em;
	border: 1px solid #bbb;
}
#forum td .name {
	color: #96c;
}
#forum td .links {
	padding-top: 0.7em;
	font-size: 0.9em;
}
#profile .profile {
	clear: both;
	border: 1px solid #abc;
	padding: .5em;
	margin: 1em 0em;
}
#profile .profile .name {
	padding-bottom: 0.5em;
}
.block-forum h3 {
	margin-bottom: .5em;
}
div.admin-panel .description {
	color: #999;
}
div.admin-panel .body {
	background: #f4f4f4;
}
div.admin-panel h3 {
	background-color: #69c;
	color: #fff;
	padding: 5px 8px 5px;
	margin: 0;
}
/*************************************************************MY CSS******************************************************************************/

#maintopPan {
	height:277px;
	background:url(images/headerbg2.gif) 0 0 repeat-x;
	margin:0 auto;
}
#topHeaderPan {
	width:514px;
	height:277px;
	float:left;
	background:url(images/header.jpg) 0 0 no-repeat;
}
#topHeaderPan ul {
	width:114px;
	height:124px;
	position:absolute;
	top:119px;
	left:16px;
}
#topHeaderPan ul li {
	background:url(images/dot-line.gif) repeat-x bottom;
	float:left
}
#topHeaderPan ul li a {
	display:block;
	width:102px;
	height:24px;
	background:url(images/bullet1.gif) 0 9px no-repeat;
	font:12px/24px Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 12px;
}
#topHeaderPan ul li a:hover {
	text-decoration:underline;
	background:url(images/bullet2.gif) 0 9px no-repeat;
}
#topHeaderPan ul li.resources {
	width:114px;
	height:24px;
	background:none;
}
#topHeaderPan img {
	width:220px;
	height:53px;
	position:absolute;
	top:24px;
	left:24px;
}
/*----Top Side Menu--*/
#topSidemenuPan {
	width:264px;
	height:277px;
	float:left;
	background:url(images/right-bg.gif) 100% 0 no-repeat #fff;
	color:#000;
}
#topSidemenuPan ul {
	width:198px;
	margin:0 0 0 6px;
	padding:0px 10px 0px 13px;
}
#topSidemenuPan ul li {
	width:99px;
	height:277px;
	float:left;
}
#topSidemenuPan ul li.home {
	width:99px;
	height:277px;
}
#topSidemenuPan ul li.home a {
	width:99px;
	height:277px;
	display:block;
	background:url(images/home-normal.jpg) 0 0 no-repeat;
	text-indent:-20000px;
}
#topSidemenuPan ul li.home a:hover {
	width:99px;
	height:277px;
	background:url(images/home-hover.jpg) 0 0 no-repeat;
}
#topSidemenuPan ul li.contact a {
	width:99px;
	height:277px;
	display:block;
	background:url(images/contact-normal.jpg) 0 0 no-repeat;
	text-indent:-20000px;
}
#topSidemenuPan ul li.contact a:hover {
	width:99px;
	height:277px;
	background:url(images/contact-hover.jpg) 0 0 no-repeat;
}
/*----/TOP PANEL----*/

/*----BODY PANEL----*/
#bodyPan {
	width:778px;
	clear:both;
}
/*----Left Panel----*/
#leftPan {
	width:505px;
	float:left;
}
#leftPan p span {
	font-weight:bold;
}
#leftPan p.more {
	width:70px;
	height:23px;
	margin:0 0 0 340px;
}
#leftPan p.more a {
	width:70px;
	height:23px;
	display:block;
	background:url(images/icon2.gif) 0 0 no-repeat #fff;
	color:#589B02;
	font:14px/23px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 36px;
}
#leftPan p.more a:hover {
	background:url(images/icon2.gif) 0 0 no-repeat #fff;
	color:#046CB8;
	text-decoration:none;
}
#leftPaninleftPan {
	width:270px;
	float:left;
}
#leftPaninleftPan p.strongtext {
	font:16px/18px Arial, Helvetica, sans-serif;
	background:#fff;
	color:#3A3A3A;
	font-weight:bold;
	padding:16px 24px 14px;
}
#leftPaninleftPan p.moreone {
	width:100px;
	height:23px;
	margin:0 0 35px;
}
#leftPaninleftPan p.moreone a {
	width:100px;
	height:23px;
	display:block;
	background:url(images/icon2.gif) 0 0 no-repeat #fff;
	color:#589B02;
	font:14px/23px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 36px;
}
#leftPaninleftPan p.moreone a:hover {
	background:url(images/icon2.gif) 0 0 no-repeat #fff;
	color:#046CB8;
	text-decoration:none;
}
#leftPaninrightPan {
	width:235px;
	float:left;
}
#leftPaninrightPan h4 {
	width:209px;
	height:90px;
	background:url(images/image2.jpg) 0 0 no-repeat;
	text-indent:-2000px;
	margin:85px 0 0;
}
#leftPaninrightPan p {
	padding:0 0 14px;
}
#leftPaninrightPan p.strongtext {
	font:16px/18px Arial, Helvetica, sans-serif;
	background:#fff;
	color:#3A3A3A;
	font-weight:bold;
	padding:16px 24px 14px 0;
}
#leftPaninrightPan p span {
	font-weight:bold;
}
#leftPaninrightPan p.moretwo {
	width:100px;
	height:23px;
	margin:0 0 35px;
}
#leftPaninrightPan p.moretwo a {
	width:100px;
	height:23px;
	display:block;
	background:url(images/icon2.gif) 0 0 no-repeat #fff;
	color:#589B02;
	font:14px/23px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 36px;
}
#leftPaninrightPan p.moretwo a:hover {
	background:url(images/icon2.gif) 0 0 no-repeat #fff;
	color:#046CB8;
	text-decoration:none;
}
/*----/Left Panel----*/

/*----Right Panel----*/
#rightPan {
	width:268px;
	float:left;
	background:url(images/rightpanbg.gif) 0 0 repeat-y;
}
#rightPan h2 {
	width:85px;
	height:74px;
	background:url(images/icon4.gif) 0 0 no-repeat #fff;
	color:#61A804;
	font:22px Arial, Helvetica, sans-serif;
	padding:8px 0 0 66px;
	text-transform:uppercase;
	margin:24px 0 0 0px;
}
#rightPan h2 span {
	font-size:48px;
	line-height:32px;
	background:#fff;
	color:#61A804;
	text-transform:none;
}
#rightPan ul {
	width:190px;
}
#rightPan ul li.dot {
	background:url(images/bullet.gif) 0 7px no-repeat;
	height:47px;
	padding:0 0 0 20px;
	font-weight:bold;
}
#rightPan ul li {
	background:none;
}
#rightbottomPan {
	background:url(images/rightbottompan.gif) left bottom no-repeat;
	padding:0 20px 0 20px;
	overflow:auto;
	overflow:hidden;
}
/*----Right Panel----*/
#footermainPan {
	height:168px;
	background:#4C4C4C;
	color:#fff;
	clear:both;
}
#footerPan {
	width:778px;
	float:left;
	position:relative;
}
#footerPan img {
	width:218px;
	height:52px;
	position:absolute;
	top:28px;
	right:30px;
}
#footerPan ul#subnavlist {
	width:359px;
	padding-top:38px;
	padding-left:53px;
}
#footerPan li {
	float:left;
	font:11px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:normal;
}
#footerPan ul li a {
	padding:0 5px 0;
	color:#fff;
	background:#4C4C4C;
	text-decoration:none;
}
#footerPan ul li a:hover {
	text-decoration:underline;
}
#footerPan ul.templateworld {
	width:158px;
	background:#4C4C4C;
	color:#fff;
	display:block;
	position:absolute;
	top:115px;
	left:56px;
}
#footerPan ul.templateworld li a {
	background:#4C4C4C;
	display:block;
	color:#fff;
	text-decoration:none;
}
#footerPan ul.templateworld li a:hover {
	text-decoration:underline;
}
#footerPan p.copyright {
	background:#4C4C4C;
	color:#79D000;
	font:11px/15px Tahoma, Arial, Helvetica, sans-serif;
	padding-left:45px;
	padding-top:15px;
	clear:both;
}
#footerPanhtml {
	width:75px;
	height:24px;
	display:block;
	position:absolute;
	top:95px;
	left:58px;
}
#footerPanhtml a {
	width:75px;
	height:24px;
	background:url(images/arrow1.gif) 90% 50% no-repeat #DFDFDF;
	display:block;
	font:14px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0;
	padding:0 0 0 5px;
	color:#111111;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
}
#footerPanhtml a:hover {
	background:url(images/arrow2.gif) 90% 50% no-repeat #DFDFDF;
	color:#111;
	text-decoration:none;
}
#footerPancss {
	width:75px;
	height:24px;
	display:block;
	position:absolute;
	top:95px;
	left:145px;
}
#footerPancss a {
	width:75px;
	height:24px;
	background:url(images/arrow2.gif) 90% 50% no-repeat #DFDFDF;
	display:block;
	font:14px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0;
	padding:0 0 0 5px;
	color:#111111;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
}
#footerPancss a:hover {
	background:url(images/arrow1.gif) 90% 50% no-repeat #DFDFDF;
	color:#111;
	text-decoration:none;
}
#topSidemenuPan li {
	background-image:none;
	list-style-type:none
}
#topSidemenuPan h2 {
	display:none
}
.design {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	clear:both
}
#rightPan form#user-login-form ul {
	margin-left:19px;
	margin-top:6px;
}
#rightPan form#user-login-form ul li {
	padding:0px;
	height:20px;
	list-style-type:none;
}
#rightPan #block-user-0 h2.title {
	line-height:32px;
}
#footermainPan ul {
	padding:14px 30px 0px 40px;
	margin:0px;
}
#footermainPan ul li {
	padding:0px 0px 0px 0px;
	margin:0px;
	line-height:15px;
}
#footermainPan ul li a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal
}
#footerPan ul#subnavlist li {
	border-right:1px solid #FFFFFF;
}
#main .breadcrumb {
	padding-left:10px;
}
#main .tabs {
	padding-left:10px;
}
#main .messages {
	padding-left:10px;
}
#main form#system-site-information-settings {
	padding-left:10px;
}
.footerlink {
	clear:both;
	padding-left:18px;
	padding-top:10px;
}
.footerlink ul li {
	list-style-type:none
}
.designby {
	clear:both;
}
.designby3 {
	clear:both;
	padding-top:5px
}
.footerlink .designby ul li {
	border-left:none;
	border-right:none;
}
.footerlink .designby3 ul li {
	border-left:none;
	border-right:none;
}
#block-user-1 .content ul.menu {
	margin-left:16px;
}
#block-user-1 .content ul.menu li.expanded ul.menu {
	margin:0px;
}
.primmenu {
	width:505px;
	height:20px;
	color:#ff0000;
	background-image:url(images/bg.jpg);
}
.primmenu ul li a {
	padding:0 5px 3px;
}
.primmenu ul li a:hover {
	background-color:#76c907;
	text-decoration:none;
}
div.admin .left {
	margin-left:0px;
}
#block-user-0 {
	margin:0px;
	padding-bottom:30px
}
#block-block-1 {
	margin:0px;
	padding:0px;
}
